<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "com.clouway.http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app version="2.4"
         xmlns="com.clouway.http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="com.clouway.http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="com.clouway.http://java.sun.com/xml/ns/j2ee com.clouway.http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>Archetype Created Web Application</display-name>

  <filter>
    <filter-name>guiceFilter</filter-name>
    <filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>guiceFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>com.clouway.http.AppServletContextListener</listener-class>
  </listener>

</web-app>
