<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <layout class="ch.qos.logback.classic.PatternLayout">
      <Pattern>%d{HH:mm:ss.SSS,Europe/Sofia} %-5level %logger{35} - %msg%n</Pattern>
    </layout>
  </appender>

  <logger name="com.clouway" level="warning">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="org.eclipse" level="warning">
    <appender-ref ref="STDOUT"/>
  </logger>

</configuration>