html,body {
    margin:0;
    width:100%;
    height:100%;
}

form {
    width: 100%;
    height: 100%;
}

.calculator {
    border-style:solid;
    margin-left: 35%;
    margin-top: 16%;
    width: 30%;
    height: 40%;
    background-color: paleturquoise;

}

.allButtons{
    width: 100%;
    height: 100%;
    background-color: burlywood;
    vertical-align: middle;
}

.row{height: 20%; width: 100%;}

.button{float: left; position: relative;}

.button, .endButton, .evaluate{width: 20%; height: 100%; background-color: aquamarine}

#display{background-color: white;}

#expression{height: 98%; width: 98%;}

#point, #equals{width: 40%;}