h3 {
    font-size: 1.5em;
    padding: 1em 8px;
    color: #333;
    background-color: lightgreen;
    margin: 0;
}

.main {
    border-style: solid;
}

.main {
    margin-top: 50px;
    margin-bottom: 250px;
    margin-right: 250px;
    margin-left: 500px;
}