ul.menu-bar {
    float: left;
    width: 100%;
    height: auto;
    padding: 0px;
    margin-top: 0px;
    margin-right: 0px;
    display: block;
    margin-bottom: 0px;
    margin-left: 0px;
}

ul .menu-bar li {
    float: left;
    width: 141px;
    margin-left: 1px;
    padding: 0px;
    text-align: center;
    display: block;
    margin-top: 19px;
    color: #D8DCD8;
    font-size: 14px;
}

ul .menu-bar li a {
    color: #CCC;
}