.wrapper {
    border-style: ridge;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    background-color: lightgreen;
    margin-top: 0%;
}

.dataUser {
    float: left;
    width: 10%;
    margin-left: 0%;
}

.row {
    margin-left: 20%;
}

.textField {
    margin-right: 50%;
}

.register {

}

p {
    font-size: large;
    color: red;
}